.container-sizing{
    padding: 0;
    max-width: 40%;
}
.title-control{
    display: flex;
    justify-content: left;
    background: linear-gradient(45deg, pink, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 44px;
    padding-left: 10%;
    padding: 12px;
}

.form-main{
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 0px;
}
.form-main input{
    color: black;
}
.form-main input:focus{
    border: 4px;
    border-style: solid;
    border-color:pink;
}
.form-main textarea:focus{
    border: 4px;
    border-style: solid;
    border-color:pink;
}

.form-main button, .form-confirm button{
    text-decoration: none;
    background-color: pink;
    color: black;
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    margin-bottom: 12px;
    transition: background-color 0.5s ease;
}
.form-main button:hover, .form-confirm button:hover{
    background-color: rgb(255, 137, 157);
}

.row-control{
    margin-bottom: 20px;
}
.row-control input {
    height: 830px;
}

.form-confirm{
    color: pink;
    margin-top: 20px;
    padding: 20px;
}
.form-confirm textarea{
    resize: none;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 12px;
}

@media only screen and (max-width: 990px) {
    .container {
        max-width: 65%;
    }
    .title-control {
        font-size: 26px;
    }
}