.cv-box-1-upper-box {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: rgba(255, 255, 255, 0.075);
    filter: none;
}

.cv-box-1-row-1 {
    display: flex;
    justify-content: center;
}

.cv-box-1-row-1 img {
    padding-top: 20px;
    border-radius: 50%;
    max-width: 150px;
}

.cv-box-1-row-2 {
    color: rgb(200, 200, 200);
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

.cv-box-1-row-3 p {
    color: white;
    text-align: center;
    padding-bottom: 5px;
}

.cv-box-1-row-4 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.col-left {
    text-align: left;
}

.col-right {
    text-align: right;
}

.cv-box-1-row-5 {
    padding-top: 15px;
    color: white
}

.cv-box-1-row-6 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.cv-box-1-row-7 {
    display: flex;
    justify-content: center;
    gap: 25px;
}

























.cv-box-2-row-1 {
    color: rgb(255, 255, 255);

    margin: 25px;
    font-weight: bold;

    background-image: url(images/Background-3.jpg);
    background-size: cover;
    background-position: 50%;
}
.cv-box-2-row-1 h1{
    color: rgb(255, 255, 255);

    margin: 0px;
}
.cv-box-2-row-1 button{
    border-style: none;
    background-color: yellow;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4%;
}
.col-left-2{
    padding-top: 40px;
    padding-left: 40px;
    row-gap: 200px;
    column-gap: 200px;
}

.col-right-2{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.col-right-2 img{
    max-width: 200px;
}

.cv-box-2-row-2{
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}
.par-1{
    font-size: 20px;
    color: yellow;
}
.par-2{
    color: white;
}
.cv-box-2-row-2 .row {
    display: flex;
    align-items: center;
}

.cv-box-2-row-3{
    color: white;
    font-size: 32px;
    padding-left: 80px;
    font-weight: bold;
}


.cv-box-2-row-4
{
    margin: 20px;
    font-weight: bold;
}
.header-row-4{
    font-size: 24px;
}
.paragraph-row-4{
    font-size: 18px;
    color: rgb(197, 197, 197);
}
.a-row-4{
    text-decoration: none;
    color: rgb(255, 255, 86);
}

.normal-box{
    /* background-color: rgba(255, 255, 255, 0.135); */
    text-align: left;
    padding: 30px;
    background-color: rgb(152, 69, 152);
    color:rgb(255, 255, 255);
    margin: 12px;
}