.button {
    border-radius: 12px;
    border-style: none;
}
.main-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.main-box input {
    background-color: gray;
    width: 100%;
}
.login-button {
    border-color: white;
    border-style: solid;

    color: white;
    background-image: linear-gradient(-45deg, pink, blue);
    padding: 20px;
    transition: padding 0.7s ease, border-width 0.1s ease;
}
.login-button:hover {
    border-width: 6px;
}


.return-home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.return-home {
    padding: 40px;
}

.return-home h1 {
    text-align: center;
    color: red;
}

.return-home a {
    display: flex;
    text-align: center;
}

.return-home button {
    display: flex;
    margin: 0 auto; 
    color: white;
    background-image: linear-gradient(-45deg, pink, blue);
    padding: 20px;
    transition: padding 0.2s ease;
}

.return-home button:hover {
    padding: 40px;
}