.button {
    border-radius: 12px;
    border-style: none;
}
.main-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.main-box input {
    background-color: white;
    width: 100%;
}
.login-button {
    margin-left: 12px;
    margin-right: 12px;
    border-color: white;
    border-style: solid;
    border-radius: 12px;

    color: white;
    background-image: linear-gradient(-45deg, pink, blue);
    padding: 20px;
    transition: padding 0.7s ease, scale 0.1s ease;
}
.login-button:hover {
    scale: 1.05;
}

.input-form{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    color: black;
}
.input-form input:focus{
    border-color: pink;
    border-width: 4px;
}
.return-home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.return-home {
    padding: 40px;
}

.return-home h1 {
    text-align: center;
    color: red;
}

.return-home a {
    display: flex;
    text-align: center;
}

.return-home button {
    display: flex;
    margin: 0 auto; 
    color: white;
    background-image: linear-gradient(-45deg, pink, blue);
    padding: 20px;
    transition: scale 0.2s ease;
}
.return-home button:hover {
    scale: 1.1;
}