.slider-item{
  margin-top: 20px;
  padding: 0;
  height: 480px;
}
.slider-item img{
  height: 100%;
  object-fit: cover;
  animation: slideAnimation 8s infinite alternate ease-in-out;
}
.slider-item p{
  font-size: 60px;
  margin: 0px;
  color: rgb(219, 219, 219);
}

  @keyframes slideAnimation {
    0% {
      object-position: 40% 0%;
    }
    100% {
      object-position: 40% 80%;
    }
  }

.slider-indicator, .slider-caption{
    display: flex;
    justify-content: left;
}

.information-box{
    margin-top: 40px;
}
.information-box img{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}