body {
    background-color: gray;
    background-image: url(images/Background-4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-main {
    padding-top: 20px;
}

/* .navbar-main .blurry-box{
    border-width: 0px;
} */
.navbar-main a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;

    padding: 12px;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.7s ease;
}

.navbar-main .home-button:hover {
    background-color: rgb(125, 91, 121);
    color: white;
}

.navbar-nav a:hover {
    background-color: rgb(125, 91, 121);
    color: white;
}


.text-body {
    padding: 12px;
    margin-top: 20px;
}

.text-body p {
    font-size: 20px;
    color: rgb(225, 225, 225);
}

.portf-1 {
    border-width: 2px;
    border-radius: 12px;
    color: black;
    border-style: solid;
    padding: 0px;
}

.tri-area-box {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: backdrop-filter 0.3s ease, scale 0.2s ease;
}
.tri-area-box p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.tri-area-box a{
    color: rgb(225, 225, 225);
    text-decoration: none;
}
.tri-area-box-icon {
    width: 60px;
    height: 60px;
    margin-top: 12px;
    transition: color 0.3s ease, filter 0.3s ease;
}
.tri-area-box:hover {
    scale: 1.2;
    backdrop-filter: none;
    z-index: 1;
    
    .tri-area-box-icon{
        filter: invert(100%);
    }
}
.tri-box-title{
    font-size: 32px;
    font-weight: bold;
}


.decorative-line {
    margin: auto;

    width: 90%;
    border: 1px solid rgb(80, 80, 80);
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 2px;
    /* Maybe change */
}

.circular-bar {
    --width: 75px;
    --height: 75px;
    --degrees: 270deg;
    --outerColor: white;
    --innerColor: black;
    --clearColor: red;
    --centerText: "text";

    width: var(--width);
    height: var(--height);
    border-radius: 50%;

    background: conic-gradient(var(--clearColor) var(--degrees), var(--outerColor) 0deg);

    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-bar::before {
    content: var(--centerText);
    position: absolute;
    border-radius: 50%;
    background-color: var(--innerColor);
    color: white;
    width: calc(var(--width) * 0.9);
    height: calc(var(--height) * 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blurry-box {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.135);
    border-width: 2px;
    border-color: white;
    border-style: solid;
    backdrop-filter: blur(15px);
}






