body{
    background-color: gray;
}

.navbar{
    border-radius: 12px;
    background-color: bisque;
}
.navbar a:hover{
    background-color: aqua;
    border-radius: 12px;
}
.navbar ul{
    text-decoration: none;
    list-style: none;
}

.main-paragraph{
    background-color: red;
    border-radius: 44px;
}